body {
    background: aqua;
  }
    p {
      color: blue;
    }
    h1 {
      font-weight: bold;
    }
    h2 {
      font-weight: bold;
    }
    a {
        color: hotpink;
      }
      a:link, a:visited {
        background-color:  blue;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: aqua;
      }
      il{
color: blue;

      }
      .notaddingsoon{
        color: blue;
      }

      input{
        background-color:aqua;
        color: #ffffff ;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      input:hover input:active{
        background-color:aqua;
      }
      input:link, input:visited {
        background-color:  blue;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }